    <footer>
        <div class="footer-container">
            <div class="heading-footer">
                <h2>SteerJobs</h2>
            </div>
            <div class="course-footer">
                <h3>Service</h3>
                <a href="/jobs/post-job">Post a jobs</a>
                <a href="/jobs/search-job">Search for a job</a>
                <a href="/connection/find-new-people">Find a person you know</a>
            </div>
            <div class="support-foooter">
                <h3>support</h3>
                <a href="/about">About</a>
                <a href="/help-center">Help Center</a>
                <a href="/privacy-and-terms">Privacy & Terms</a>
                <a href="/contact-us">Contact SteerJobs</a>
            </div>
        </div>
        <div class="copy-social-link">
            <div class="copy-right">
                <span>&copy; SteerJobs 2021.</span>
            </div>
            <div class="footer-social-link">
                <a href="#" class="fb-link"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="inst-link"><i class="fab fa-instagram"></i></a>
                <a href="#" class="In-link"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="youtb-link"><i class="fab fa-youtube"></i></a>
                <a href="#" class="twit-link"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>