<!DOCTYPE html>
<html>
<head>
    <title>404 Error</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        .container {
            width: 100%;
            height: calc(100vh - 60px);
            display: flex;
            background-color: #f7f9fb;
        }
        .container img {
            margin: 0 auto;
            width: auto;
            height: 100%;
        }
        footer {
            background-color: rgb(110 140 140 / 30%);
        }
    </style>
</head>
<body>
    {{>nav}}
    <div class="container">
        <img src="/assets/image/404.gif" alt="">
    </div>
    {{>footer}}
</body>
</html>