<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>We are in feed page</h1>
    <h1>{{name}}</h1>
    <h1>{{userId}}</h1>
    <h1>{{email}}</h1>
</body>
</html>