<!DOCTYPE html>
<html lang="en">

<head>
    <title>FIND A JOB</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <section id="get-job">
        <div class="job-heading">
            <h2 id="job2">Find Open jobs and Internship</h2>
        </div>
        <div class="job-link">
            <h3 id="job3">SUGGESTED SEARCHES</h3>

            <a href="#">Engineering</a>
            <a href="#">Business Development</a>
            <a href="#">Finance</a>
            <a href="#">Administrative Assistant</a>
            <a href="#">Retail Associate</a>
            <a href="#">Customer Service</a>
            <a href="#">Operation</a>
            <a href="#">Information Technology</a>
            <a href="#">Marketing </a>
            <a href="#">Human Resources</a>

        </div>
    </section>


    <section id="post-job">
        <div class="post-heading">
            <h2 id="post2">Post your job and find the people you need</h2>
        </div>
        <div class="post-link">
            <a href="#">Post a Job</a>
        </div>

    </section>

    <section id="feature">
        <div class="feature-content">
            <h2 id="feature2">Let the right people know you're open to WORK</h2>
            <p id="para1"><b> With the Open To Work feature, you can privately tell recruiters or publicly share with
                    the
                    LinkedIn community that you are looking for new job opportunities </b></p>
        </div>
        <div class="picture">
            <img src="https://static-exp1.licdn.com/sc/h/dkfub4sc7jgzg3o31flfr91rv"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>

    </section>

    <section id="connect">
        <div class="connect-picture">
            <img src="https://static-exp1.licdn.com/sc/h/b1fxwht7hdbeusleja7ciftsj"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>
        <div class="connect-content">
            <h2 id="connect2"><b>Connect with People who can Help</b></h2>
            <a href="#">Find people you know</a>
        </div>
    </section>
</body>

</html>