<!DOCTYPE html>
<html lang="en">

<head>
    <title>SteerJobs</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>
        footer {
            background-color: rgb(132 210 210 / 30%);
        }
    </style>
</head>

<body>
    {{>nav}}
    <header class="head">
        <div class="head-text">
            <h1 class="head1">WELCOME TO A NEW PROFESSIONAL COMMUNITY</h1>
            <a class="head-button" href="/jobs/post-job"><span class="head-text-link-text">Post a job</span> <span class="head-text-link-symb">></span> </a>
            <a class="head-button" href="/jobs/search-job"><span class="head-text-link-text">Search for a job</span> <span class="head-text-link-symb">></span> </a>
            <a class="head-button" href="/connection/find-new-people"><span class="head-text-link-text">Find a person you know</span> <span class="head-text-link-symb">></span></a>
        </div>
        <div class="head-img">
            <img src="https://homejobonline.co.in/img/online-data-entry-work-from-home.svg" alt="Oops...This page could not be loaded at this moment">
        </div>
    </header>
    <section id="get-job">
        <div class="job-heading">
            <h2 id="job2">Find Open jobs and Internship</h2>
        </div>
        <div class="job-link">
            <div class="job-link-heading">
                <h3 id="job3">SUGGESTED SEARCHES</h3>
            </div>
            <div class="job-content-link">
                <a href="/jobs/job-search">Engineering</a>
                <a href="/jobs/job-search">Business Development</a>
                <a href="/jobs/job-search">Finance</a>
                <a href="/jobs/job-search">Administrative Assistant</a>
                <a href="/jobs/job-search">Retail Associate</a>
                <a href="/jobs/job-search">Customer Service</a>
                <a href="/jobs/job-search">Operation</a>
                <a href="/jobs/job-search">Information Technology</a>
                <a href="/jobs/job-search">Marketing </a>
                <a href="/jobs/job-search">Human Resources</a>
            </div>
        </div>
    </section>


    <section id="post-job">
        <div class="post-heading">
            <h2 id="post2">Post your job and find the people you need</h2>
        </div>
        <div class="post-link">
            <a href="#">Post a Job</a>
        </div>

    </section>

    <section id="feature">
        <div class="feature-content">
            <h2 id="feature2">Let the right people know you're open to WORK</h2>
            <p id="para1"><b> With the Open To Work feature, you can privately tell recruiters or publicly share with
                    the
                    LinkedIn community that you are looking for new job opportunities </b></p>
        </div>
        <div class="picture">
            <img src="https://static-exp1.licdn.com/sc/h/dkfub4sc7jgzg3o31flfr91rv"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>
    </section>

    <section id="connect">
        <div class="connect-picture">
            <img src="https://static-exp1.licdn.com/sc/h/b1fxwht7hdbeusleja7ciftsj"
                alt="Picture can't be loaded at the moment.... Sorry for inconvenience.">
        </div>
        <div class="connect-content">
            <h2 id="connect2"><b>Connect with People who can Help</b></h2>
            <a href="#">Find people you know</a>
        </div>
    </section>
    {{>footer}}
</body>

</html>