<!DOCTYPE html>
<html lang="en">
<head>
    {{>style}}
    <title>Login</title>
    <style>
        .section .container .content-form {
            align-items: flex-start;
            padding: 5% 0;
        }

        .section, .nav {
            background-color:#F7E8F6 ;
        }

        .section {
            height: calc(100vh - 60px);
        }
    </style>
</head>
<body>
    {{>nav}}
    <section class="section">
        <div class="container">
            <div class="content-img">
                <!--fill the alt attribute -->
                <img src="https://img.freepik.com/free-vector/businessman-interviewing-virtual-job-candidate-from-laptop-desk-purple-background-maintaining-social-distance_1302-22848.jpg?size=626&ext=jpg" alt="" />
            </div>
            <div class="content-form">
                <form method="POST" action="/auth/login">
                    <p><b>Make the most of your PROFESSIONAL LIFE</b></p>
                    <h2><b>Sign In</b></h2>
                    <div class="form-content" style="text-align: center;">
                        <span style="color: red;">{{messageInfo}}</span>    
                    </div>
                    <div class="form-content">
                        <input type="text" name="userId" placeholder="Username">
                    </div>
                    <div class="form-content">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-content">
                        <input type="submit" value="Login">
                    </div>
                    <p class="signup">Don't have an account ?
                        <a href="/signup">Sign Up.</a>
                    </p>
                </form>
            </div>
        </div>
    </section>        
           
</body>
</html>