<!DOCTYPE html>
<html lang="en">

<head>
    <title>SING-UP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<style>
    .section,.nav {
        background-color: rgba(157, 234, 248,0.5);
    }
    .section {
        height: calc(100vh - 60px);
    }

</style>

<body>
    <nav class="nav">
        <div class="nav-logo">
            <a class="nav-logo-link" href="/home"><b>SteerJobs</b></a>
        </div>
        <div class="nav-container-link">
            <a class="nav-link" href="/about">ABOUT</a>
            <a class="nav-link" href="/login">{{signinAndProfile}}</a><!--SIGN-IN-->
            <a class="nav-link-signup" href="/signup">{{signupAndSignout}}</a><!--Sign-Up-->
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="content-img">
                <!--fill the alt attribute -->
                <img src="https://ak.picdn.net/shutterstock/videos/1026891398/thumb/1.jpg" alt="" />
            </div>

            <div= class="content-form">
                <form method="POST" action="/auth/register">
                    <p><b>Make the most of your PROFESSIONAL LIFE</b></p>
                    <h2><b>SIGN UP</b></h2>
                    <div class="form-content" style="text-align: center;">
                        <span style="color: red;">{{messageInfo}}</span>    
                    </div>
                    <div class="form-content">
                        <input type="text" name="name" placeholder="Full name">
                    </div>
                    <div class="form-content">
                        <input type="text" name="userId" placeholder="User ID">
                    </div>
                    <div class="form-content">
                        <input type="email" name="email" placeholder="E-Mail">
                    </div>
                    <div class="form-content">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-content form-submit">
                        <input type="submit" value="SignUP">
                    </div>
                    <p class="signup">Don't have an account ?  <!--change the content for login-->
                        <a href="/login">Sign In.</a>
                    </p>
                </form>
            </div>

        </div>
    </section>
</body>

</html>